
    <footer class="footer">
        <div class="container-fluid">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="#">
                            Sitio Web
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                Hotel Litoral
                ©
                {{ "now"|date("Y") }}, todos os direitos reservados.
            </div>
        </div>
    </footer>