
    {% extends "base-document.twig" %}
    {% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h5 class="card-title">Criar Quarto</h5>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="{{general.full_web_url}}quartos/"><button type="button" class="btn btn-info">Voltar</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="offset-md-2 col-md-8">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">Nome</label>
                                                <input type="text" class="form-control js-quarto-nome">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">Descrição</label>
                                                <textarea type="text" class="form-control js-quarto-descricao"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="select-adults">Adultos</label>
                                                <select class="form-control js-quartos-adultos" id="select-adults">
                                                    <option selected disabled class="">Selecionar</option>
                                                    <option class="1">1</option>
                                                    <option class="2">2</option>
                                                    <option class="3">3</option>
                                                    <option class="4">4</option>
                                                    <option class="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">Preço</label>
                                                <input type="text" class="form-control js-quarto-preco">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <form>
                                                <div class="form-group">
                                                    <label for="input-file">Example file input</label>
                                                    <input type="file" class="form-control-file js-quarto-image" id="input-file">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right btn-quartos-save">Salvar</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer_scripts %}
        <script type="text/javascript" src="{{ general.full_assets_url }}js/admin/quartos.js"></script>
    {% endblock %}