
    /**** Estilos GENERALES ****/
    .css-img-icon-svg{
        width: 13px;
    }

    /*Estilos pra secao de 'Sliders' no 'HOME'*/
    .css-slider-home{
        position: absolute;
        top: 400px;
        /*left: 280px;*/
        /*bottom: 50px;*/
        z-index: 1;
    }

    /* Estilos para seccion 'Testimoials' */

    .css-opinions-slider-parent-div{
        /*display: -webkit-flex !important;*/
        display: flex !important;
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
    }

    /*.css-opinions-text-div{*/
    /*    display: -webkit-flex;*/
    /*    display: flex;*/
    /*}*/

    /* Estilos para seccion 'Rooms' */
    .css-icon-service-rooms{
        color: black;
    }

    /* Estilos para 'Menu' */
    .css-menu-logo{
        width: 155px !important;
    }
    .css--menu-logo-slogan{
        font-size: 9px !important;
        font-weight: 600 !important;
    }

    /* Estilos para el 'Footer' */
    .css-footer-logo{
        width: 275px!important;
        height: 75px!important;
    }

    /* Estilos para seccion de 'CONTACTO' */
    p.clasificacion {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    p.clasificacion input {
        position: absolute;
        top: -100px;
    }
    p.clasificacion label {
        float: right;
        color: #333;
        font-size: 25px;
    }
    p.clasificacion label:hover,
    p.clasificacion label:hover ~ label,
    p.clasificacion input:checked ~ label {
        color: #dd4;
    }