
    /* Estilos para seccion 'Testimoials' */

    .css-opinions-slider-parent-div{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    /*.css-opinions-text-div{*/
    /*    display: -webkit-flex;*/
    /*    display: flex;*/
    /*}*/


    /* Estilos para 'Menu' */
    .css-menu-logo{
        width: 155px !important;
    }
    .css--menu-logo-slogan{
        font-size: 9px !important;
        font-weight: 600 !important;
    }